"*":
  "atom-package-deps":
    ignored: []
  "build-make": {}
  core:
    allowPendingPaneItems: false
    customFileTypes:
      "source.yaml": [
        ".yaml.tmpl"
        ".yml.tmpl"
        ".tmpl"
      ]
    reopenProjectMenuCount: 5
    telemetryConsent: "limited"
  editor:
    fontSize: 12
    preferredLineLength: 110
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "3bb5f158-3714-4e0f-8c87-7a8d64eb1b42"
  "force-tab":
    honorSoftTabs: false
  "git-diff":
    showIconsInEditorGutter: true
  "linter-pylama":
    usePep257: false
    usePep8: false
  "linter-ui-default":
    panelHeight: 69
  "markdown-preview":
    breakOnSingleNewline: true
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.html.basic"
      "text.md"
      "text.plain"
      "text.plain.null-grammar"
      "source.js"
      "source.javascript"
      "source.ts"
      "source.typescript"
    ]
    useGitHubStyle: true
  pigments:
    groupPaletteColors: "by file"
    markerType: "dot"
    mergeColorDuplicates: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
