# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson

'.text.html':
  'Angular JS Src':
    'prefix': 'angular_js_src'
    'body': '<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>'
  'JQuery JS Src':
    'prefix': 'jquery_js_src'
    'body': '<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.js" charset="utf-8"></script>'
  'JQueryUI JS Src':
    'prefix': 'jqueryui_js_src'
    'body': '<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js" charset="utf-8"></script>'
  'JQueryUI CSS HRef':
    'prefix': 'jqueryui_css_href'
    'body': '<link type="text/css" rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" \/>'
  'Meta Viewport':
    'prefix': 'meta_viewport'
    'body': '<meta name="viewport" content="width=device-width, initial-scale=1" \/>'
  'My JS Src':
    'prefix': 'my_js_src'
    'body': '<script type="text/javascript" src="action.js" charset="utf-8"></script>'
  'My CSS HRef':
    'prefix': 'my_css_href'
    'body': '<link type="text/css" rel="stylesheet" href="style.css" \/>'
'.source.js':
  'JQuery ready Function':
    'prefix': 'jquery_ready'
    'body': '$(document).ready( function(){\n});'
